```http
# With shell, you can just pass the correct header with each request
GET https://api.sparktoro.com/audience/political/social?keyword=seo&type=keyword
Accept: application/json
Authorization: Bearer your_bearer_key
```

```shell
# With shell, you can just pass the correct header with each request
curl "https://api.sparktoro.com/audience/political/social?keyword=seo&type=keyword"
  -H "Authorization: Bearer your_bearer_key"
```

> The above command returns JSON structured like this:

```json
HTTP/1.1 200 OK
Content-Type: application/json

{
  "data": [
    {
      "bias": "left",
      "share": 18.38
    },
    {
      "bias": "left-center",
      "share": 38.15
    },
    {
      "bias": "center",
      "share": 37.20
    },
    {
      "bias": "right-center",
      "share": 4.82
    },
    {
      "bias": "right",
      "share": 1.41
    }
  ],
  "meta": {
    "source_count": 212631,
    "query": "seo",
    "type": "keyword",
    "api_limits": {
      "previous": false,
      "used": 1,
      "available": 500,
      "plan_id": 2
    },
    "query_cost": 1
  }
}
```

This endpoint retrieves polictial sharing activity based on social followings for accounts that match your search query.

### HTTP Request

`GET https://api.sparktoro.com/audience/political/social?keyword=seo&type=keyword`

### Query Parameters

Parameter | Description
--------- | -----------
keyword | <strong>string (required)</strong> The keyword, website, hashtag, or social account to search for.
type | <strong>string (required)</strong> There are 5 type of searches that can be done, see <a href="#type-options">Search Types</a> for more info.