```http
# With shell, you can just pass the correct header with each request
GET https://api.sparktoro.com/search/youtube?keyword=seo&type=keyword
Accept: application/json
Authorization: Bearer your_bearer_key
```

```shell
# With shell, you can just pass the correct header with each request
curl "https://api.sparktoro.com/search/youtube?keyword=seo&type=keyword"
  -H "Authorization: Bearer your_bearer_key"
```

> The above command returns JSON structured like this:

```json
HTTP/1.1 200 OK
Content-Type: application/json

{
  "data": [
    {
      "id": "1059801",
      "average_views": 205,
      "channel_url": "https://youtube.com/user/SearchEngineland",
      "description": "News & analysis on #SEO #PPC #Google #Bing & more. Sister to @marketingland @martech_today @smx @martechconf. Stay in the loop: https://t.co/AHbg7x2qFZ",
      "global_followers": 690172,
      "image": "https://yt3.ggpht.com/a/AATXAJzZgxM4GsYP7dgT8_7WATKcB1JzVP_qICGsfo8MME8=s88-c-k-c0x00ffffff-no-rj",
      "join_date": "2008-12-29",
      "latest_video": "2020-07-21",
      "share": 29.5,
      "sparkscore": 59,
      "subscribers": 10100,
      "title": "Search Engine Land",
      "views": 4414363,
      "youtube_description": "Search Engine Land is a must read hub for news and information about search engine marketing, optimization and how search engines such as Google, Yahoo and Bing work for searchers."
    },
    ...
  ],
  "meta": {
    "source_count": 212631,
    "query": "seo",
    "type": "keyword",
    "api_limits": {
      "previous": false,
      "used": 1,
      "available": 500,
      "plan_id": 2
    },
    "query_cost": 1
  }
}
```

This endpoint retrieves all YouTube Channels that have an influence over the search terms sent across.

### HTTP Request

`GET https://api.sparktoro.com/search/youtube?keyword=seo&type=keyword`

### Query Parameters

Parameter | Description
--------- | -----------
keyword | <strong>string (required)</strong> The keyword, website, hashtag, or social account to search for.
type | <strong>string (required)</strong> There are 5 type of searches that can be done, see <a href="#type-options">Search Types</a> for more info.  
subscribers_min | <strong>integer</strong> Min number of subscribers for the channel.
subscribers_max | <strong>integer</strong> Max number of subscribers for the channel.
views_min | <strong>integer</strong> Min number of views for the channel.
views_max | <strong>integer</strong> Max number of views for the channel.
avg_views_min | <strong>integer</strong> Min avg number of views for the channel.
avg_views_max | <strong>integer</strong> Max avg number of views for the channel.
last_video_date | <strong>integer</strong> When was the last video posted, inputs are 30, 60 or greater than 90 days.