  <div class="footer">
    <%= svg('nav-sprite-update.svg') %>
    <%= svg('footer-icons.svg') %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 text-left keeping">
          <h2><span>Keep up with</span> SparkToro<sup>&reg;</sup></h2>
        </div>

        <div class="col-md-6 col-12 text-left social-area">
          <div class="row no-gutters">
            <div class="col-6 social mb-4">
              <div class="icons">
                <svg viewBox="0 0 28 26" class="icon">
                  <use xlink:href="#twitter"></use>
                </svg>
              </div>
              <div class="text">
                <a href="https://twitter.com/sparktoro" rel="noopener" target="_blank">@SparkToro</a>
              </div>
            </div>
            <div class="col-6 social mb-4">
              <div class="icons">
                <svg viewBox="0 0 28 26" class="icon">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
              <div class="text">
                <a href="https://instagram.com/sparktorohq" rel="noopener" target="_blank">@SparkToroHQ</a>
              </div>
            </div>
            <div class="col-6 social mb-4">
              <div class="icons">
                <svg viewBox="0 56 28 26" class="icon">
                  <use xlink:href="#facebook"></use>
                </svg>
              </div>
              <div class="text">
                <a href="https://facebook.com/sparktoro" rel="noopener" target="_blank">@SparkToro</a>
              </div>
            </div>
            <div class="col-6 social mb-4">
              <div class="icons">
                <svg viewBox="0 0 144 144" class="icon">
                  <use xlink:href="#linkedin"></use>
                </svg>
              </div>
              <div class="text">
                <a href="https://www.linkedin.com/company/sparktoro" rel="noopener" target="_blank">@SparkToro</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row extra-links">
        <div class="col-12">
          <ul>
            <li><a href="/api">API</a></li>
            <li><a href="/book">Lost &amp; Founder</a></li>
            <li><a href="/support/">Support</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="https://sparktoro.com/blog/feed/" type="application/rss+xml">RSS</a></li>
          </ul>
        </div>
      </div>
      <div class="row extra-links">
        <div class="col-12">
          <ul>
            <li><a href="/policies/privacy">Privacy Policy</a></li>
            <li><a href="/policies/terms">Terms of Service</a></li>
            <li><a href="/policies/do-not-sell">Do Not Sell My Personal Information</a></li>
            <li><a href="/policies/privacy#california-privacy-rights">CA Privacy Rights</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://js.stripe.com/v3/"></script>
  
  </body>
</html>